header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/isaicover.png");
  background-size: cover;
}

h1 {
  inline-size: min-content;
  font-size: 10vw;
  color: rgb(171, 234, 255);
  opacity: 100%;
}

#title {
  font-family: "Unbounded", cursive;
  font-size: 200%;
  transition: font-size 0.5s ease-in-out;
}

#q {
  inline-size: min-content;
  width: auto;
  word-wrap: normal;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
  padding-right: 20%;
  transition: font-size 0.5s ease-in-out;
}

#adj {
  transition: color 1.5s ease-in-out;
  font-weight: 600;
}

#main-content {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  padding-top: 1em;
  transition: max-height 1.5s ease-in-out, padding 1.5s ease-in-out;
  font-family: "Quicksand", sans-serif;
}

#main-content > p {
  margin-bottom: 0;
}

#main-head {
  margin-bottom: 1vh;
  transition: font-size 0.5s ease-in-out;
}

#look-like {
  height: fit-content;
  font-size: clamp(15px, 3.5vw, 25px);
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  text-align: right;
  margin-bottom: 0;
  font-size: clamp(20px, 5vw, 30px);
  transition: font-size 0.5s ease-in-out;
}

#rise {
  transition: color 1s ease-in;
}
